.*sw*
build/
dist/
latch.egg-info
.hypothesis
**/.DS_Store
**/.pytest_cache
/.mypy_cache
/.ruff_cache
.env/
.venv

**/__pycache__

docs/build
/.envrc
/twine_creds.sh
.vscode
scratch.py
/scratch
.latch_report.tar.gz
/credentials
