repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      # - id: check-ast
      - id: check-byte-order-marker
      # - id: check-builtin-literals
      - id: check-case-conflict
      # - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      # - id: check-shebang-scripts-are-executable
      # - id: pretty-format-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      # - id: check-xml
      - id: check-yaml
      # - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-aws-credentials
      - id: detect-private-key
      # - id: double-quote-string-fixer
      # - id: end-of-file-fixer
      # - id: file-contents-sorter
      # - id: fix-byte-order-marker
      # - id: fix-encoding-pragma
      # - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ["--fix", "no"]
      # - id: name-tests-test
      # - id: no-commit-to-branch
      # - id: requirements-txt-fixer
      # - id: sort-simple-yaml
      # - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 21.6b0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.9.2
    hooks:
      - id: isort
  - repo: https://github.com/jazzband/pip-tools
    rev: 6.5.1
    hooks:
      - id: pip-compile
        name: requirements.txt
        args: [requirements.in]
        files: ^requirements\.(in|txt)$
      - id: pip-compile
        name: doc-requirements.txt
        args: [doc-requirements.in]
        files: ^doc-requirements\.(in|txt)$
      - id: pip-compile
        name: dev-requirements.txt
        args: [dev-requirements.in]
        files: ^dev-requirements\.(in|txt)$
