awscli==1.25.22
aioconsole==0.5.1
kubernetes>=24.2.0
pyjwt>=0.2.0
requests>=2.0
click>=8.0
docker>=5.0
paramiko>=2.11.0
scp>=0.14.0
boto3>=1.24.22
tqdm>=4.63.0
lytekit==0.13.3
lytekitplugins-pods==0.4.0
typing-extensions==4.3.0
apscheduler==3.9.1
uvloop==0.17.0
websockets==10.3
prompt-toolkit==3.0.29
